global
    log stdout format raw local0

defaults
    mode tcp
    log global
    option tcplog
    timeout connect 10s
    timeout client 10m
    timeout server 10m

frontend topsap_legacy_tls
    bind :44443 ssl crt /etc/haproxy/tls/relay.pem ssl-min-ver TLSv1.0 ssl-max-ver TLSv1.2 ciphers ALL:@SECLEVEL=0
    default_backend topsap_tls13_gateway

backend topsap_tls13_gateway
    server gateway ${VPN_GATEWAY_HOST}:${VPN_GATEWAY_PORT} ssl verify none ssl-min-ver TLSv1.3
